


<div class="card-box">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">

                <img src="assets/movie-img/card4.jpg" class="img-fluid">
                <div class="card-body">
                    <h4>Advanture</h4>
                    <p>Collection of the film that amze</p>

                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6">
            <div class="card">

                <img src="assets/movie-img/card3.jpg" class="img-fluid">
                <div class="card-body">
                    <h4>Fantastic</h4>
                    <p>Collection of the film that amze</p>

                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6">
            <div class="card">

                <img src="assets/movie-img/card2.jpg" class="img-fluid">
                <div class="card-body">
                    <h4>Comdey</h4>
                    <p>Collection of the film that amze</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">

                <img src="assets/movie-img/card1.jpeg" class="img-fluid">
                <div class="card-body">
                    <h4>Drama</h4>
                    <p>Collection of the film that amze</p>

                </div>
            </div>
        </div>







    </div>
</div>


<div class="collection d-flex justify-content-between ">
  <div>
    <h5 class="mt-5">New</h5>
  </div>

</div>

<div class="card-box">
  <div class="row">
      <div class="col-lg-3 col-md-6">
          <div class="card">

              <img src="assets/movie-img/card5.jpg" class="img-fluid">
              <div class="card-body">
                  <h4>21 Bridges</h4>
                  <p>Action,Thriller</p>

              </div>
          </div>
      </div>


      <div class="col-lg-3 col-md-6">
          <div class="card">

              <img src="assets/movie-img/card6.jpg" class="img-fluid">
              <div class="card-body">
                  <h4>Jumanji: the next level</h4>
                  <p>Fantsy,Adventure,Comedy</p>

              </div>
          </div>
      </div>


      <div class="col-lg-3 col-md-6">
          <div class="card">

              <img src="assets/movie-img/card7.jpg" class="img-fluid">
              <div class="card-body">
                  <h4>Midway</h4>
                  <p>Action,Adventure,Drama</p>

              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="card">

              <img src="assets/movie-img/card8.jpg" class="img-fluid">
              <div class="card-body">
                  <h4>Drama</h4>
                  <p>Action Comdey</p>

              </div>
          </div>
      </div>
